.rf-search-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 60vw;
    opacity: 0.9;
  }
  .merchant {
    line-height: 1;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 12;
    font-weight: 500;
    font-size: $font-lg;
    padding: $spacing-sm $spacing-lg 14upx;
    .iconshouhuodizhi {
      font-size: 40upx;
      font-weight: 600;
      margin-right: $spacing-sm;
    }
    .iconxiajiantou1 {
      margin-left: 4upx;
      font-size: $font-base;
    }
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    padding-bottom: 10upx;
    .addr {
      margin: 0 $spacing-base;
      height: 60upx;
      line-height: 60upx;
      .iconfont {
        font-weight: 500;
        font-size: 56upx;
      }
      .logo {
        width: 45upx;
        height: 45upx;
        border-radius: 8upx;
        margin-left: 10upx;
      }
    }
    .input-box {
      flex: 1;
      height: 60upx;
      line-height: 60upx;
      background-color: $color-white;
      border-radius: 30upx;
      position: relative;
      display: flex;
      align-items: center;
      margin: 6upx 0 0 $spacing-base;
      .wrapper {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: $font-sm + 2upx;
        color: $font-color-light;
        transform: translate(-50%, -50%);
        .iconsousuo2 {
          font-size: 34upx;
          margin-right: $spacing-base;
        }
      }
      input {
        width: 100%;
        padding-left: 28upx;
        height: 28upx;
        color: #888;
        font-size: 28upx;
      }
    }
  }
}
